.cf-section__label {
    color: #6b7afe;
    line-height: 25px;
    font-weight: 600;
    max-width: 100%;
}
.cf-section__label, .lcra__timeline-list li {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.space_mb_8 {
    margin-bottom: 8px !important;
}
.space_mb_16 {
    margin-bottom: 16px !important;
}
.line-height-reset {
    line-height: 1.42857143;
}
.cf-section__heading {
    font-size: 34px;
    max-width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}
.cf-section__info {
    color: rgba(3, 3, 3, .8);
    line-height: 30px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem !important;
}
space_mb_24 {
    margin-bottom: 24px !important;
}
.pos-img-style {
    padding: 26px;
}
.home2 .btn {
    font-size: 16px;
    padding: 12px 16px;
    background-color: #ea5518;
    line-height: 1.4;
    text-align: center;
    color: #f9f9f9;
    border-style: none;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(255,98,0,.2);
    font-weight: 600;
    background-position: 50%;
    transition: background .8s;
    cursor: pointer;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}